:root {
  --title-color: #322153;
  --bg-primary: #f0f0f5;
  --bg-secondary: #34cb79;
  --bg-hover: #2fb86e;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-primary);
}

a {
  display: flex;
  align-items: center;

  text-decoration: none;
  font-weight: 700;
  color: var(--title-color);
  transition: filter 0.2s;
}

h1, h2, h3 {
  color: var(--title-color);
}

a:hover {
  filter: brightness(80%);
}

button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: filter 0.2s;

}
button:hover {
  filter: brightness(80%);
}
