@media (max-width: 900px){

  html {
    font-size: 60%;
  }

  #page-home {
    background-image: none;
  }

  .page-home-content {
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }

  .page-home-content header img {
    text-align: center;
    position: absolute;
    top: 4rem;

    left: 50%;
    transform: translateX(-50%);
  }

  .page-home-content {
    flex-direction: column-reverse;
  }

  .page-home-content main {
    align-items: center;
  }

  .page-home-content header {
    height: 20%;
    align-items: flex-start;
  }
}

@media (max-width: 600px){
  html {
    font-size: 50%;
  }
}  

@media (max-width: 400px){
  html {
    font-size: 40%;
  }
} 

